# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Uber API
  description: Move your app forward with the Uber API
  version: "1.0.0"
# the domain of the service
host: uber.com
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /v1
produces:
  - application/json
paths:
# paths for PROBE
  /probe:
    get:
      summary: sommaire
      description: blabla
      operationId: ProbeResource::getProbesList
      responses:
        "200":
          description: successful operation
    post:
      summary: sommaire
      description: blabla
      operationId: ProbeResource::postProbe
      responses:
        "200":
          description: successful operation
  /probe/{id}:
    get:
      summary: sommaire
      description: blabla
      operationId: ProbeResource::getProbe
      parameters:
        - in: path
          name: id
          description: id of wanted probe
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
    put:
      summary: sommaire
      description: blabla
      operationId: ProbeResource::putProbe
      parameters:
        - in: path
          name: id
          description: id of wanted probe
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
    delete:
      summary: sommaire
      description: blabla
      operationId: ProbeResource::deleteProbe
      parameters:
        - in: path
          name: id
          description: id of wanted probe
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
  /probe/{id}/json:
    get:
      summary: sommaire
      description: blabla
      operationId: ProbeResource::getJsonForProbe
      parameters:
        - in: path
          name: id
          description: id of wanted probe
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
  /probe/{id}/alive:
    get:
      summary: sommaire
      description: blabla
      operationId: ProbeResource::getAliveForProbe
      parameters:
        - in: path
          name: id
          description: id of wanted probe
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
  /probe/{id}/packages:
    get:
      summary: sommaire
      description: blabla
      operationId: ProbeResource::getPackagesForProbe
      parameters:
        - in: path
          name: id
          description: id of wanted probe
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
# paths for ADDON
  /addons:
    get:
      summary: sommaire
      description: blabla
      operationId: AddonResource::getAddonsList
      responses:
        "200":
          description: successful operation
  /addons/{id}:
    get:
      summary: sommaire
      description: blabla
      operationId: AddonResource::getAddon
      parameters:
        - in: path
          name: id
          description: id of wanted addon
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
  /addons/{id}/search_types:
    get:
      summary: sommaire
      description: blabla
      operationId: AddonResource::getSearch_typesForAddon
      parameters:
        - in: path
          name: id
          description: id of wanted addon
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
# paths for ALERT
  /alerts:
    get:
      summary: sommaire
      description: blabla
      operationId: AlertResource::getAlertsList
      responses:
        "200":
          description: successful operation
    post:
      summary: sommaire
      description: blabla
      operationId: AlertResource::postAlert
      responses:
        "200":
          description: successful operation
  /alerts/{id}:
    get:
      summary: sommaire
      description: blabla
      operationId: AlertResource::getAlert
      parameters:
        - in: path
          name: id
          description: id of wanted alert
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
    put:
      summary: sommaire
      description: blabla
      operationId: AlertResource::putAlert
      parameters:
        - in: path
          name: id
          description: id of alert to modify
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
# paths for ASSET
  /assets:
    get:
      summary: sommaire
      description: blabla
      operationId: AssetResource::getAssetsList
      responses:
        "200":
          description: successful operation
    post:
      summary: sommaire
      description: blabla
      operationId: AssetResource::postAsset
      responses:
        "200":
          description: successful operation
    delete:
      summary: sommaire
      description: blabla
      operationId: AssetResource::deleteAsset
      responses:
        "200":
          description: successful operation
  /assets/{id}:
    get:
      summary: sommaire
      description: blabla
      operationId: AssetResource::getAsset
      parameters:
        - in: path
          name: id
          description: id of wanted asset
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
    put:
      summary: sommaire
      description: blabla
      operationId: AssetResource::putAsset
      parameters:
        - in: path
          name: id
          description: id of wanted asset
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
  /assets/{id}/alias:
    get:
      summary: sommaire
      description: blabla
      operationId: AssetResource::getAliasForAsset
      parameters:
        - in: path
          name: id
          description: id of wanted asset
          required: true
          type: integer
        - in: query
          name: media_type_id
          description: idk
          required: false
          type: integer
        - in: query
          name: user_role_id
          description: idk
          required: false
          type: integer
      responses:
        "200":
          description: successful operation
    put:
      summary: sommaire
      description: blabla
      operationId: AssetResource::putAliasForAsset
      parameters:
        - in: path
          name: id
          description: id of wanted asset
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
  /assets/{id}/plugins:
    get:
      summary: sommaire
      description: blabla
      operationId: AssetResource::getPluginsForAsset
      parameters:
        - in: path
          name: id
          description: id of wanted asset
          required: true
          type: integer
        - in: query
          name: media_type_id
          description: idk
          required: false
          type: integer
        - in: query
          name: user_role_id
          description: idk
          required: false
          type: integer
      responses:
        "200":
          description: successful operation
  /assets/plugins:
    post:
      summary: sommaire
      description: blabla
      operationId: AssetResource::postPluginsForAsset
      responses:
        "200":
          description: successful operation
# paths for CRITERIA
  /criteria:
    get:
      summary: sommaire
      description: blabla
      operationId: CriterionResource::getCriteriasList
      responses:
        "200":
          description: successful operation
  /criteria/{id}:
    get:
      summary: sommaire
      description: blabla
      operationId: CriterionResource::getCriteria
      parameters:
        - in: path
          name: id
          description: id of wanted criteria
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
  /criteria/{id}/alias:
    get:
      summary: sommaire
      description: blabla
      operationId: CriterionResource::getAliasForCriteria
      parameters:
        - in: path
          name: id
          description: id of wanted criteria
          required: true
          type: integer
        - in: query
          name: media_type_id
          description: idk
          required: false
          type: integer
        - in: query
          name: user_role_id
          description: idk
          required: false
          type: integer
        - in: query
          name: information_id
          description: idk
          required: false
          type: integer
      responses:
        "200":
          description: successful operation
    put:
      summary: sommaire
      description: blabla
      operationId: CriterionResource::putAliasForCriteria
      parameters:
        - in: path
          name: id
          description: id of criteria to modify
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
# paths for FILTER
  /filters:
    get:
      summary: sommaire
      description: blabla
      operationId: FilterResource::getFiltersList
      parameters:
        - in: query
          name: type_id
          description: idk
          required: false
          type: integer
        - in: query
          name: plugin_id
          description: idk
          required: false
          type: integer
        - in: query
          name: source_id
          description: idk
          required: false
          type: integer
        - in: query
          name: search_id
          description: idk
          required: false
          type: integer
      responses:
        "200":
          description: successful operation
    post:
      summary: sommaire
      description: blabla
      operationId: FilterResource::postFilters
      responses:
        "200":
          description: successful operation
  /filters/{id}:
    get:
      summary: sommaire
      description: blabla
      operationId: FilterResource::getFilter
      parameters:
        - in: path
          name: id
          description: id of wanted filter
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
    put:
      summary: sommaire
      description: blabla
      operationId: FilterResource::putFilters
      parameters:
        - in: path
          name: id
          description: id of filter to modify
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
    delete:
      summary: sommaire
      description: blabla
      operationId: FilterResource::deleteFilters
      parameters:
        - in: path
          name: id
          description: id of filter to modify
          required: true
          type: integer
      responses:
        "200":
          description: successful operation
  /filters/parameters:
    get:
      summary: sommaire
      description: blabla
      operationId: FilterResource::getParametersListForFilters
      parameters:
        - in: query
          name: type_id
          description: idk
          required: false
          type: integer
        - in: query
          name: plugin_id
          description: idk
          required: false
          type: integer
        - in: query
          name: source_id
          description: idk
          required: false
          type: integer
        - in: query
          name: search_id
          description: idk
          required: false
          type: integer
      responses:
        "200":
          description: successful operatio
  /filters/{id}/parameters:
    get:
      summary: sommaire
      description: blabla
      operationId: FilterResource::getParametersForFilter
      parameters:
        - in: path
          name: id
          description: id of wanted filter
          required: true
          type: integer
      responses:
        "200":
          description: successful operatio